
<div class="container mt-5 mb-5" *ngIf='trace'>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Ürün Geçmişi</h4>
			<ul class="timeline">
				<li>
					<a target="_blank">Tebrikler</a>
					<p>Mükemmel bir {{ trace.productName }} aldınız! Peki bu lezzettin nereden geldiğini biliyor musunuz? </p>
				</li>
				<li>
					<p>Çikolata çekirdeğini kendimiz alıp, kendi tesisilerimizde işliyor ve çikolata hamuruna dönüştürüyoruz.</p>
					<!--<p>Çikolata çekirdeğini {{ trace.chocoSource }}'nden alıp kendimiz işliyoruz.</p>-->
					<p>Bunu yaparken tedarikçilerimizin Çevre Duyarlılığı, Ormansızlaştırma ve Çocuk işçi gibi konulara uyduğuna dikkat ediyoruz.</p>
				</li>
				<li>
					<p>En kaliteli {{trace.nutOrigin}} mahsülü kullanılarak yapılan bu ürünün fındıkları,</p>
					<p>{{trace.processDate}} tarihinde {{trace.processFactoryName}} tesislerimizde işlenmiş ve {{trace.packageFactorayName}} fabrikamızda {{trace.packageDate}} tarihinde bitmiş ürüne dönüşmüştür.</p>
					<br/>
					<a href="https://www.youtube.com/watch?v=gY7fRcIs8YA">Ürünün  hikayesi için videoyu tıklayınız… </a>
				</li>
			</ul>
		</div>
	</div>
</div>

 
