<div class="height d-flex justify-content-center" id="product1">
    <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="mt-2">
                <div>
                    <h5 class="text-uppercase mb-0">Çikolatalı Gofret</h5>
                    <h1 class="main-heading mt-0">Ülker</h1>
                </div>
            </div>
            <div class="center"> <img src="https://yildizproductchain.azurewebsites.net/images/ulkergofret.png" width="200"> </div>
        </div>
        <p>Lütfen son kullanma tarihi veya lot numarası giriniz.</p> 
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <label>Son kullanma tarihi</label>
                <input type="date" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label>Lot Numarası</label>
                <input type="text" class="form-control"/>
            </div>
        </div>
        <button class="btn btn-outline-success">Ara</button>
    </div>
</div>
